body{
  background-color: beige;
  font-family: 'Segoe UI Black',sans-serif;
  color: #890F0D;
}
hr{
  border-style: none;
  border-top-style:dotted;
  border-width: 10px;
  border-color: grey;
  width: 40%;
}
h1{
  font-family: verdana;
  color: #05595B;
}
h3{
  font-family: verdana;
  color: #533E85;
}
